@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6b98e1;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  text-decoration: underline;
  color: red;
}

.chess-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.chess-board div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board div i {
  font-size: 1.4rem;
}

.box {
  width: 50px;
  height: 50px;
}

.box:nth-child(odd):nth-child(-n + 8),
.box:nth-child(even):nth-child(n + 9):nth-child(-n + 16),
.box:nth-child(odd):nth-child(n + 17):nth-child(-n + 24),
.box:nth-child(even):nth-child(n + 25):nth-child(-n + 32),
.box:nth-child(odd):nth-child(n + 33):nth-child(-n + 40),
.box:nth-child(even):nth-child(n + 41):nth-child(-n + 48),
.box:nth-child(odd):nth-child(n + 49):nth-child(-n + 56),
.box:nth-child(even):nth-child(n + 57):nth-child(-n + 64) {
  background-color: #666672;
}
